<div class="container-fluid">
  <div class="row" id="form-title">
    <h2>Fubot 现金发票报销表</h2>
  </div>
  <div class="row" id="form-content">
    <form class="form-inline fubot-invoice-form" method="post" action="/submit/cash" name="fubot-invoice-form" role='form'>
      <div class="form-group">
        <label for="name">填表人</label>
        <label><%= current_user.name %></label>
        <input type="hidden" class="form-control" name="name" id="name" value="<%= current_user.name %>" novalidate="novalidate">
      </div>
      <hr />
      <div class="form-group">
        <label for="projectName">项目名称</label><label class="red-star">*</label>
        <select class="form-control" name="projectName" id="projectName" style="margin-right:39px;width:180px;">
          <% for (var i = 0; i < projects.length; i++) { %>
            <option value="<%= projects[i] %>"><%= projects[i] %></option>
          <% } %>
        </select>
        <label for="department">费用支出部门</label><label class="red-star">*</label>
        <select class="form-control"  name="department" id="department" required>
          <% for (var i = 0; i < department.length; i++) { %>
            <option value="<%= department[i] %>"><%= department[i] %></option>
          <% } %>
        </select>
      </div>
      <hr />

      <input class="form-control" name="itemNum" id="itemNum" type="hidden">

      <div id="item1">
        <div class="form-group">
          <label class="gray-font">商品 1</label>
          <br />
          <br />
          <label>名称</label><label class="red-star">*</label>
          <input type="text" class="form-control" name="itemName0" required>
          <label>品牌</label><label class="red-star">*</label>
          <input type="text" class="form-control" name="brand0" required>
          <br />
          <br />
          <label>规格型号</label><label class="red-star">*</label>
          <input type="text" class="form-control" name="model0" required>
          <label>单价</label><label class="red-star">*</label>
          <div class="input-group">
            <div class="input-group-addon">¥</div>
            <input class="form-control" required min="0" name="unitPrice0" style="width:139px" placeholder="e.g. 100.00">
          </div>
          <br />
          <br />
          <label>数量</label><label class="red-star">*</label>
          <input type="number" class="form-control" name="quantity0" required min="1" style="width:80px;">
        </div>
        <hr />
      </div>

      <button type="button" class="btn btn-warning" aria-label="Add Item" id="addItem">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加商品
      </button>
      <hr />


      <div class="form-group">
        <label for="requisitioner">申购人</label><label class="red-star">*</label>
        <input type="text" class="form-control" name="requisitioner" id="requisitioner" required style="margin-right: 47px;">
        <label for="date">申购时间</label><label class="red-star">*</label>
        <input type="date" class="form-control" name="date" id="date" required>
      </div>
      <hr />
      <div class="form-group">
        <label for="arrivalDate">到货时间</label><label class="red-star">*</label>
        <input type="date" class="form-control" name="arrivalDate" id="arrivalDate" required>
      </div>
      <hr />
      <div class="form-group">
        <label for="payMethod">付款方式</label><label class="red-star">*</label>
        <select class="form-control" name="payMethod" id="payMethod">
          <% for (var i = 0; i < payMethod.length; i++) { %>
            <option value="<%= payMethod[i] %>"><%= payMethod[i] %></option>
          <% } %>
        </select>
      </div>
      <hr />
      <div class="form-group">
        <% for (var i = 0; i < invoiceType.length; i++) { %>
          <label class="radio-inline">
            <input type="radio" name="invoiceType" value="<%= invoiceType[i] %>"
              <% if (i===0) { %>
                checked="checked"
              <% } %>
            ><%= invoiceType[i] %>
          </label>
        <% } %>
      </div>
      <hr />
      <div class="form-group">
        <label for="detail">供应商明细</label>
        <textarea class="form-control" rows="3" name="detail" id="detail" style="width:300px;" placeholder="若是淘宝店铺，请注明店铺ID、商品详情，请不要只放商品链接"></textarea>
      </div>
      <hr />
      <div class="form-group">
        <label for="note">备注</label>
        <textarea class="form-control" rows="3" name="note" id="note" style="width:300px;"></textarea>
      </div>
      <hr />
      <input type='hidden' name='_csrf' value='<%= csrf %>'/>
      <div class='form-actions'>
        <button type="submit" id="submit" class="btn btn-success">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
      </div>
    </form>
  </div>
</div>