<div class="container-fluid">
  <div class="row" id="form-title">
    <h2>提交成功</h2>
  </div>
  <div class="row" id="form-content">
    <div class="form-inline fubot-invoice-form">
      <div class="form-group">
        <label>填表人</label>
        <label class="gray-font"><%= name %></label>
      </div>
      <hr />
      <div class="form-group">
        <label>项目名称</label>
        <label class="gray-font label-250"><%= projectName %></label>
        <label>费用支出部门</label>
        <label class="gray-font"><%= department %></label>
      </div>
      <hr />
      <div class="form-group">
        <label>名称</label>
        <label class="gray-font"></label>
      </div>
      <hr />
      <div class="form-group">
        <label>品牌</label>
        <label class="gray-font label-250"></label>
        <label>规格型号</label>
        <label class="gray-font"></label>
      </div>
      <hr />
      <div class="form-group">
        <label>单价</label>
        <label class="gray-font">¥ </label>
        <label style="min-width:62px;">数量</label>
        <label class="gray-font" style="width:70px;"></label>
        <label style="min-width:50px;">总价</label>
        <label class="gray-font" style="width:120px;">¥ </label>
      </div>
      <hr />
      <div class="form-group">
        <label>申购人</label>
        <label class="gray-font label-250"><%= requisitioner %></label>
        <label>申购时间</label>
        <label class="gray-font"><%= dateStr %></label>
      </div>
      <hr />
      <div class="form-group">
        <label>到货时间</label>
        <label class="gray-font"><%= arrivalDateStr %></label>
      </div>
      <hr />
      <div class="form-group">
        <label>付款方式</label>
        <label class="gray-font"><%= payMethod %></label>
      </div>
      <hr />
      <div class="form-group">
        <label>发票类别</label>
        <label class="gray-font"><%= invoiceType %></label>
      </div>
      <hr />
      <div class="form-group">
        <label>供应商明细</label>
        <label class="gray-font"><%= detail %><label>
      </div>
      <hr />
      <div class="form-group">
        <label>备注</label>
        <label class="gray-font"><%= note %><label>
      </div>
    </div>
  </div>
</div>