<div class="container-fluid">
  <div class="row" id="form-title">
    <h2>Seer 差旅发票报销表</h2>
  </div>
  <div class="row" id="form-content">
    <form class="form-inline fubot-invoice-form" method="post" action="/submit/travel" name="fubot-invoice-form" role='form'>
      <div class="form-group">
        <label for="name">填表人</label>
        <label><%= current_user.name %></label>
        <input type="hidden" class="form-control" name="name" id="name" value="<%= current_user.name %>" novalidate="novalidate">
      </div>
      <hr />
      <div class="form-group">
        <label for="projectName">项目名称</label><label class='red-star'>*</label>
        <select class="form-control" name="projectName" id="projectName" style="margin-right:39px;width:180px;">
          <% for (var i = 0; i < projects.length; i++) { %>
            <option value="<%= projects[i] %>"><%= projects[i] %></option>
          <% } %>
        </select>
        <label for="department">费用支出部门</label><label class='red-star'>*</label>
        <select class="form-control"  name="department" id="department" required>
          <% for (var i = 0; i < department.length; i++) { %>
            <option value="<%= department[i] %>"><%= department[i] %></option>
          <% } %>
        </select>
      </div>
      <hr />

      <input class="form-control" name="ticketNum" id="ticketNum" type="hidden">
      <input class="form-control" name="hotelNum" id="hotelNum" type="hidden">
      <input class="form-control" name="mealNum" id="mealNum" type="hidden">

      <div id="addButtonGroup">
        <button type="button" class="btn btn-warning" aria-label="Add ticket" id="addTicket">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加车次/航班
        </button>
        <button type="button" class="btn btn-info" aria-label="Add hotel" id="addHotel">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加酒店
        </button>
        <button type="button" class="btn btn-success" aria-label="Add meal" id="addMeal">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加餐饮
        </button>
      </div>
      <hr />

      <input type='hidden' name='_csrf' value='<%= csrf %>'/>
      <div class='form-actions'>
        <button type="submit" id="submit" class="btn btn-success">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
      </div>
    </form>
  </div>
</div>