<div class="container-fluid">
  <div class="row" id="form-title">
    <h2>现金发票详情</h2>
  </div>
  <div class="row" id="form-content">
    <div class="fubot-invoice-form">
      <div class="form-group">
        <label>提交人</label>
        <label class="gray-font"><%= invoice.name %></label>
      </div>
      <hr />
      <div class="form-group">
        <label>项目名称</label>
        <label class="gray-font label-250"><%= invoice.projectName %></label>
        <label>费用支出部门</label>
        <label class="gray-font"><%= invoice.department %></label>
      </div>
      <hr />


      <% for (var i = 0; i < items.length; i++) { %>
        <div id="item<%= i+1 %>">
          <div class="form-group">
            <label class="gray-font">商品 <%= i+1 %></label>
            <br />
            <label>名称</label>
            <label class="gray-font label-150"><%= items[i].itemName %></label>
            <label>品牌</label>
            <label class="gray-font label-150"><%= items[i].brand %></label>
            <label>规格型号</label>
            <label class="gray-font label-150"><%= items[i].model %></label>
            <br />
            <label>单价</label>
            <label class="gray-font label-150">¥ <%= items[i].unitPrice %></label>
            <label>数量</label>
            <label class="gray-font label-150"><%= items[i].quantity %></label>
          </div>
        </div>
        <hr />
      <% } %>

      <div class="form-group">
        <label>总价</label>
        <label class="gray-font">¥ <%= invoice.totalPrice %></label>
      </div>
      <hr />
      <div class="form-group">
        <label>申购人</label>
        <label class="gray-font label-150"><%= invoice.requisitioner %></label>
        <label>申购时间</label>
        <label class="gray-font label-150"><%= invoice.dateStr %></label>
      </div>
      <hr />
      <div class="form-group">
        <label>到货时间</label>
        <label class="gray-font label-150"><%= invoice.arrivalDateStr %></label>
        <label>付款方式</label>
        <label class="gray-font label-150"><%= invoice.payMethod %></label>
        <label>发票类别</label>
        <label class="gray-font label-150"><%= invoice.invoiceType %></label>
      </div>
      <hr />
      <div class="form-group" id="detail">
        <label>供应商明细</label>
        <pre class="gray-font label-550"><%= invoice.detail %></pre>
      </div>
      <hr />
      <div class="form-group" id="note">
        <label>备注</label>
        <pre class="gray-font label-550"><%= invoice.note %></pre>
      </div>
      <hr />
      <div id="signature" class="form-group noPrint">
        <label class="label-240 align-center">总经理签名</label>
        <label class="label-240 align-center">部门经理签名</label>
        <label class="label-240 align-center">提交人签名</label>
      </div>
      <% if (typeof(current_user) !== 'undefined' && current_user.is_admin) { %>
        <form class="form-inline" method="post" action="/cashinvoice/id/<%= invoice._id %>" name="changeprogress" id="changeprogress" role="form">
          <div class="form-group">
            <label for="progress">报销进度</label>
            <% if (invoice.progress === '已完成') { %>
              <label class="gray-font"><%= invoice.progress %></label>
            <% } else { %>
              <select class="form-control" name="progress" id="progress" required>
                <option value="未处理" <%= invoice.progress === '未处理' ? 'selected' : '' %>>未处理</option>
                <option value="已受理" <%= invoice.progress === '已受理' ? 'selected' : '' %>>已受理</option>
                <option value="发票收到" <%= invoice.progress === '发票收到' ? 'selected' : '' %>>发票收到</option>
                <option value="已完成" <%= invoice.progress === '已完成' ? 'selected' : '' %>>已完成</option>
              </select>
            <% } %>
          </div>
          <input type="hidden" name="_id" value='<%= invoice._id %>'/>
          <input type='hidden' name='_csrf' value='<%= csrf %>'/>
          <% if (invoice.progress !== '已完成') { %>
            <button type="submit" class="btn btn-success">确定</button>
          <% } %>
          <% if (typeof(notify) !== 'undefined') { %>
            <span class="label label-danger"><%= notify %></span>
          <% } %>
        </form>
      <% } else { %>
        <div class="form-group" id="changeprogress">
          <label>报销进度</label>
          <label class="gray-font"><%= invoice.progress %></label>
        </div>
      <% } %>
      <% if (typeof(current_user) !== 'undefined' && current_user.is_admin) { %>
        <hr class="hr1"/>
        <form class="form-inline" method="post" action="/cashinvoice/delete" name="deleteinvoice" id="deleteinvoice" role="form">
          <input type="hidden" name="_id" value='<%= invoice._id %>'/>
          <input type='hidden' name='_csrf' value='<%= csrf %>'/>
          <div class='form-actions'>
            <button type="submit" id="delete" class="btn btn-danger">删除</button>
            <button type="button" id="printInvoice" class="btn btn-warning">打印</button>
          </div>
        </form>
      <% } else { %>
        <hr class="hr1"/>
        <form class="form-inline" id="deleteinvoice">
          <div class='form-actions'>
            <button type="button" id="printInvoice" class="btn btn-warning">打印</button>
          </div>
        </form>
      <% } %>
    </div>

    <div id="printPage">
      <table class="table table-condensed table-bordered" style="margin-bottom:0">
        <tr>
          <th style="text-align: center;">福物现金发票报销核对表</th>
        </tr>
      </table>
      <table class="table table-condensed table-bordered" style="margin-bottom:0">
        <tbody>
          <tr>
            <th style="text-align: center; width: 25%">提交人</th>
            <th style="text-align: center; width: 25%"><%= invoice.name %></th>
            <th style="text-align: center;">项目名称</th>
            <th style="text-align: center;"><%= invoice.projectName %></th>
          </tr>
          <tr>
            <th style="text-align: center;">提交日期</th>
            <th style="text-align: center;"><%= dateFormat(invoice.createDate, 'yyyy-MM-dd') %></th>
            <th style="text-align: center;">支出部门</th>
            <th style="text-align: center;"><%= invoice.department %></th>
          </tr>
        </tbody>
      </table>
      <table class="table table-condensed table-bordered" style="margin-bottom:0">
        <tr>
          <td>每月20日为本公司报销日，请在该日前打印本表格，并将对应发票粘贴在背面，交于管理员签字审核</td>
        </tr>
      </table>
      <table class="table table-condensed table-bordered" style="margin-bottom:0; text-align: center;">
        <thead>
          <tr>
            <th style="text-align: center; width: 10%">编号</th>
            <th style="text-align: center; width: 40%">商品名</th>
            <th style="text-align: center; width: 20%">单价</th>
            <th style="text-align: center; width: 10%">数量</th>
            <th style="text-align: center; width: 20%">总价</th>
          </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < items.length; i++) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= items[i].itemName %></td>
            <td>¥ <%= items[i].unitPrice %></td>
            <td><%= items[i].quantity %></td>
            <td>¥ <%= items[i].unitPrice * items[i].quantity %></td>
          </tr>
        <% } %>
      </tbody>
      </table>
      <table class="table table-condensed table-bordered" style="margin-bottom:0; text-align: center;">
        <thead>
          <tr>
            <th style="text-align: center; width:25%;">合计</th>
            <th style="text-align: center; width:25%;">¥ <%= invoice.totalPrice %></th>
            <th style="text-align: center; width:25%;">发票类型</th>
            <th style="text-align: center; width:25%;"><%= invoice.invoiceType === '替票' ? '普通发票' : invoice.invoiceType  %></th>
          </tr>
          <tr>
            <th style="text-align: center;">报销人</th>
            <th style="text-align: center;"></th>
            <th style="text-align: center;">审核人</th>
            <th style="text-align: center;"></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>