<div class="container-fluid">
  <div class="row" id="form-title">
    <h2>发票详情</h2>
  </div>
  <div class="row" id="form-content">
    <div class="fubot-invoice-form">
      <div class="form-group">
        <label>提交人</label>
        <label class="gray-font"><%= name %></label>
      </div>
      <hr />
      <div class="form-group">
        <label>项目名称</label>
        <label class="gray-font label-250"><%= projectName %></label>
        <label>费用支出部门</label>
        <label class="gray-font"><%= department %></label>
      </div>
      <hr />
      <div class="form-group">
        <label>名称</label>
        <label class="gray-font"></label>
      </div>
      <hr />
      <div class="form-group">
        <label>品牌</label>
        <label class="gray-font label-250"></label>
        <label>规格型号</label>
        <label class="gray-font"></label>
      </div>
      <hr />
      <div class="form-group">
        <label>单价</label>
        <label class="gray-font">¥ </label>
        <label style="min-width:62px;">数量</label>
        <label class="gray-font" style="width:70px;"></label>
        <label style="min-width:50px;">总价</label>
        <label class="gray-font" style="width:120px;">¥ </label>
      </div>
      <hr />
      <div class="form-group">
        <label>申购人</label>
        <label class="gray-font label-250"><%= requisitioner %></label>
        <label>申购时间</label>
        <label class="gray-font"><%= dateStr %></label>
      </div>
      <hr />
      <div class="form-group">
        <label>到货时间</label>
        <label class="gray-font"><%= arrivalDateStr %></label>
      </div>
      <hr />
      <div class="form-group">
        <label>付款方式</label>
        <label class="gray-font"><%= payMethod %></label>
      </div>
      <hr />
      <div class="form-group">
        <label>发票类别</label>
        <label class="gray-font"><%= invoiceType %></label>
      </div>
      <hr />
      <div class="form-group page-break">
        <label>供应商明细</label>
        <label class="gray-font"><%= detail %><label>
      </div>
      <hr />
      <div class="form-group">
        <label>备注</label>
        <label class="gray-font"><%= note %><label>
      </div>
      <hr />
      <div id="signature1" class="form-group noPrint">
        <label>总经理签名</label>
      </div>
      <hr class="hr noPrint"/>
      <div id="signature2" class="form-group noPrint">
        <label>部门经理签名</label>
      </div>
      <hr class="hr noPrint"/>
      <div id="signature3" class="form-group noPrint">
        <label>提交人签名</label>
      </div>
      <% if (typeof(current_user) !== 'undefined' && current_user.is_admin) { %>
        <form class="form-inline" method="post" action="/invoice/id/<%= _id %>" name="changeprogress" id="changeprogress" role="form">
          <div class="form-group">
            <label for="progress">报销进度</label>
            <select class="form-control" name="progress" id="progress" required>
              <option value="未处理" <%= progress === '未处理' ? 'selected' : '' %>>未处理</option>
              <option value="已接收" <%= progress === '已接收' ? 'selected' : '' %>>已接收</option>
              <option value="处理中" <%= progress === '处理中' ? 'selected' : '' %>>处理中</option>
              <option value="报销完成" <%= progress === '报销完成' ? 'selected' : '' %>>报销完成</option>
            </select>
          </div>
          <input type="hidden" name="_id" value='<%= _id %>'/>
          <input type='hidden' name='_csrf' value='<%= csrf %>'/>
          <button type="submit" class="btn btn-success">确定</button>
          <% if (typeof(notify) !== 'undefined') { %>
            <span class="label label-danger"><%= notify %></span>
          <% } %>
        </form>
      <% } else { %>
        <div class="form-group" id="changeprogress">
          <label>报销进度</label>
          <label class="gray-font"><%= progress %><label>
        </div>
      <% } %>
      <% if (typeof(current_user) !== 'undefined' && current_user.is_admin) { %>
        <hr class="hr1"/>
        <form class="form-inline" method="post" action="/invoice/delete" name="deleteinvoice" id="deleteinvoice" role="form">
          <input type="hidden" name="_id" value='<%= _id %>'/>
          <input type='hidden' name='_csrf' value='<%= csrf %>'/>
          <div class='form-actions'>
            <button type="submit" id="delete" class="btn btn-danger">删除</button>
            <button type="button" id="printInvoice" class="btn btn-warning">打印</button>
          </div>
        </form>
      <% } else { %>
        <hr class="hr1"/>
        <form class="form-inline" id="deleteinvoice">
          <div class='form-actions'>
            <button type="button" id="printInvoice" class="btn btn-warning">打印</button>
          </div>
        </form>
      <% } %>
    </div>
  </div>
</div>