<div class="container-fluid">
  <div class="row" id="form-title">
    <h2>打印个人月度总表</h2>
  </div>
  <div class="row" id="form-content">
  <form class="form-inline fubot-invoice-form" role='form'>
    <div id="chooseBeginAndEndDate" class="form-group">
      <label >起始日期</label><label class="red-star">*</label>
      <input type="date" class="form-control" name="requisitioner" id="beginDate" required>
      <label >截止日期</label><label class="red-star">*</label>
      <input type="date" class="form-control" name="date" id="endDate" required>
      <button id="confirm-monthly" class="btn btn-success">确定</button>
      <button type="button" id="printInvoice" class="btn btn-warning">打印</button>
    </div>
  </form>
  <div id="printPage">

  </div>
  </div>
</div>