<div class="container-fluid">
  <div class="row" id="form-title">
    <h2>所有差旅发票 : <%= totalInvoices %></h2>
    <h2>总额 : ¥ <%= totalMoney %></h2>
  </div>
  <div class="row" id="form-content">
    <div class="fubot-invoice-form">
      <ul class="list-group invoice-list">
        <% for (var i = 0; i < invoices.length; i++) { %>
          <li class="list-group-item">
            <a href="/travelinvoice/id/<%= invoices[i]._id %>">
              <label>序列号 : </label>
              <label class="gray-font"><%= invoices[i]._id %></label><br/>
              <label>项目名称 : </label>
              <label class="gray-font"><%= invoices[i].projectName %></label><br/>
              <label>提交人 : </label>
              <label class="gray-font"><%= invoices[i].name %></label><br/>
              <label>提交时间 : </label>
              <label class="gray-font"><%= dateFormat(invoices[i].createDate, 'yyyy-MM-dd , D , hh:mm:ss') %></label><br/>
              <label>报销进度 : </label>
              <label class="gray-font"><%= invoices[i].progress %></label>
            </a>
          </li>
        <% } %>
      </ul>
      <% if (totalInvoices !== 0) { %>
        <nav id="pagination">
          <ul class="pagination">
            <li>
              <a href="/travelinvoices/1" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <% for (var i = pageRangeFirst; i <= pageRangeLast; i++) { %>
              <% if (i === currentPage) { %>
                <li class="active"><a href="/travelinvoices/<%= i %>"><%= i %></a></li>
              <% } else { %>
                <li><a href="/travelinvoices/<%= i %>"><%= i %></a></li>
              <% } %>
            <% } %>
            <li>
              <a href="/travelinvoices/<%= pages %>" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      <% } %>
    </div>
  </div>
</div>