<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class="container-fluid">
      <p>1、 必须登陆后才能使用本系统，登录名为seer robotics邮箱</p>
      <p>2、 点击右上角的提交可以提交发票报销信息，表单中除了供应商明细和备注其他都是必填项</p>
      <p>3、 请不要输入 <， >， &， ' 和 "等字符，出于安全考虑已将这些字符屏蔽</p>
      <p>4、 提交表单前请仔细核对，提交后普通用户无法修改，若提交错误请联系管理员删除</p>
      <p>5、 点击右上角自己的姓名，可以看到本人提交的所有发票，点击发票可以进入该发票的详细页面，可以查看报销进度</p>
      <p>6、 任何人提交成功后，所有管理员均会收到一封提醒邮件</p>
      <p>7、 管理员登录后右上角有查看选项，点击后可看到所有的发票，点击发票可对该发票进行操作</p>
      <p>8、 请使用Chrome或其他支持HTML5的最新浏览器使用本系统，请不要禁用Javascript，请确保计算机是安全的</p>
      <p>9、 请不要将本系统的域名地址或者任何URL发送至互联网</p>
      <p>10、 修改密码请联系管理员</p>
    </div>
  </div>
</div>
